*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1200px;
    margin:  0 auto;
    padding: 0 10px;
}
.bg-parent{
    background-color: rgb(36, 111, 196);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 80px;
}
.child{
    width: 33%;
    text-align: center;
    padding: 15px 30px;
    transition: 0.5s;
}
.child:hover{
    background-color: #e7e5e5;
    cursor: pointer;
}
.child-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.child-img img{
    width: 100%;
    height: 100%;
}
.child h1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    margin: 25px 0;
    color: rgb(0, 0, 230);
}
.child p{
    margin-bottom: 20px;
    font-size: 20px;
    color: #999;
}
.bottom-header{
    margin-top: auto;
}
.child h3{
    color: rgb(0, 0, 230);
    background-color: red;
}
.child h3 span{
    font-size: 30px;
}